.form  {
  font-family: Roboto, sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

.artistForm {
  padding: 10px;
  margin: 10px;
}

.artistForm input {
  padding: 2px;
  margin: 5px;
}

#addArtistBtn {
  margin-top: 5px;
}

.delBtn {
  background-color: #ff0000;
  border: none;
  color: white;
  margin-right: 15px;
  font-family: Roboto, sans-serif;
  border-radius: 8px;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
}

.container {
  margin-top: 20px;
  padding: 0px;
  width: 40%
}
.form h3{
  font-weight: bold;
  font-family: Roboto, sans-serif;
  text-align: left;
  margin-left: 150px;
}

#infoTable {
  margin-left: auto;
  margin-right: auto;
}

.inputBox {
  width: 60%;
}

.artistForm input {
  width: 43%;
}

.titlesearch {
  border: 1px solid grey
}

img {
margin: 8px;
padding: 8px;
width: 100%
}

.name {
  text-align: center;
  margin: 15px;

}

#artistName {
  display: none;
}

#aboutArtist {
  display: none;
}

#artistImage {
    display: none;
}

#addArtistBtn {
    display: none;
}
.name h3{
  font-weight: bold;
  font-family: Roboto, sans-serif;
}

.info {
  text-align: center;
  margin: 15px;
  font-size: 16px;
  font-family: Roboto, sans-serif;
}

tr {
  border: 1px solid grey;
}

tr:hover {
  background-color: grey;
  cursor: pointer;
}
